#exportPattern("^[[:alpha:]]+")
export("MM_EpiModel",
       "MM_Transitions",
       "MM_Inputs",
       "MM_SheetalPars",
       "MM_RunMod","MM_Plot")
importFrom(Rcpp, evalCpp)
importFrom(deSolve, ode)
importFrom(XLConnect, readWorksheet)
importFrom(XLConnect, loadWorkbook)
import(doParallel)
import(ggplot2)
import(grid)
import(gridExtra)
useDynLib(MEEM)
