#exportPattern("^[[:alpha:]]+")
export("MM_EpiModel",
       "MM_Transitions",
       "MM_Inputs",
       "MM_SheetalPars",
       "MM_RunMod")
importFrom(Rcpp, evalCpp)
importFrom(deSolve, ode)
importFrom(XLConnect, readWorksheet)
importFrom(XLConnect, loadWorkbook)
#import(doParallel)
useDynLib(MEEM)
